$font-family:  'Roboto', sans-serif;
$purple-button: hsl(263, 76%, 81%);
$purple-text: hsl(263, 79%, 85%);
$teal-btn: hsl(263, 52%, 49%);
$teal-text: hsl(193, 84%, 58%);
$white-bg: hsl(0, 0%, 100%);
$body-bg: hsl(214, 49%, 85%);
$grey-btn: rgb(236, 236, 236);

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}